.hello {
    text-align: center;
    margin: 20px;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  .hello button {
      margin-left: 25px;
      margin-right: 25px;
      font-size: 40px;
      min-width: 50px;
  }
  