.S3List .ui.list .floated.content.right {
  float: right; 
}

.S3List .ui.list>.list>.item {
  visibility: visible
}

.S3List .ui.accordion .active.content {
  display: unset
}

.S3List .item {
  clear: both;
}

/* Added hack to force hover highlighting for the <List>.
   Only the highest level list is highlighted when List is nested like it is in S3List.
 */
.S3List div.title:hover {
  background: rgba(0,0,0,.03);
  color: rgba(0,0,0,.8);
}
