.Upload table {
    counter-reset: rowNumber -1;
}

.Upload table tr {
    counter-increment: rowNumber;
}

.Upload table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.Upload .Header {
    font-size: large 
}